.component-main {
    background-color: gray;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

.hand {
    position: absolute;
    height: 200px;
    bottom: 0px;
    width: 100%;
    z-index: 2;
}

.game-info {
    position: absolute;
    top: 0px;
    z-index: 2;
}

.modal {
    max-width: 90vw;
}

.game {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.gamemap {
    position: absolute;
    transition: transform 150ms linear;
    z-index: 1;
}