.component-main {
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.hand {
    align-self: center;
    height: 200px;
}

.gamemap {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-info {

    align-self: center;
}

.modal {
    width: 500px;
}

.game {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}