.component-main {
    background-color: #d8d8d8;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    position: relative;
    display: flex;
}

.game_hand {
    width: 100%;
    z-index: 2;
    height: 200px;
}

.game_info {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.game_modal {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    flex-grow: 1;
}


.gamemap {
    z-index: 1;
}