.hand {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    background-color: rgb(136, 136, 136);
    height: 200px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    transition: height .3s;
}

.draw {
    width: 50px;

}

.discard {
    width: 50px;

}

.cards {
    flex-grow: 1;
    justify-content: center;
}

.hand[selecting="true"] {
    height: 100vh;
}