.hand {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    background-color: beige;
    height: 100%;
}

.draw {
    width: 50px;

}

.discard {
    width: 50px;

}

.cards {
    flex-grow: 1;
    justify-content: center;
}