.card {
    display: inline-block;
    margin: 2px;
    position: relative;
 
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .card[isplaying="1"] {
    background: rgb(153, 224, 215);
  }

  .card[upgradeanimation="1"] {
    background: rgb(72, 228, 93);
  }
  .description {
      height: 5em;
  }

  .card[islarge="true"] {
    height: 22em;
    width: 20em;
    

  }

  .card[islarge="false"] {
    width: 10em;
    height: 11em;
  }

  .card[opacity="0"] {
    opacity: 0;
  }

  .card[opacity="1"] {
    opacity: 1;
  }
