.sprite {
    height: 150px;
    width: 150px;
    position: relative;
}

.sprite_info {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.sprite_attack {
    position: absolute;
    font-size: 50px;
    bottom: 0;
    left: 5px;
}

.sprite_hp {
    position: absolute;
    font-size: 50px;
    bottom: 0;
    right: 5px;
}

.sprite_sprite {
    font-size: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}