

.moves[movesanimation="1"] {
    background-color: bisque;
}

.moves[movesanimation="0"] {
    background-color: white;

}

.moves {
    border-radius: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    transition: background-color .25s;
    margin: 5px;
}


.hp[hpanimation="1"] {
    background-color: bisque;
}

.hp[hpanimation="0"] {
    background-color: white;
}

.hp {
    border-radius: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    transition: background-color .25s;
    margin: 5px;
}

.attack[attackanimation="1"] {
    background-color: bisque;
}

.attack[attackanimation="0"] {
    background-color: white;
}

.attack {
    border-radius: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    transition: background-color .25s;
    margin: 5px;
}
.gold[goldanimation="1"] {
    background-color: bisque;
}

.gold[goldanimation="0"] {
    background-color: white;
}

.gold {
    border-radius: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    transition: background-color .25s;
    margin: 5px;
}

.game-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgb(136, 136, 136);
}


@keyframes pulse {
    0% {
        box-shadow: 2px 2px 5px black;
    }
    50% {
        box-shadow: 2px 2px 5px red;
    }
    100% {
        box-shadow: 2px 2px 5px black;
    }
}