

.moves[movesanimation="1"] {
    animation: pulse .5s;
}


.hp[hpanimation="1"] {
    animation: pulse .5s;
}


.attack[attackanimation="1"] {
    animation: pulse .5s;
}

.gold[goldanimation="1"] {
    animation: pulse .5s;
}

.game-info {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.game-info > * {
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 5px black;
}
@keyframes pulse {
    0% {
        box-shadow: 2px 2px 5px black;
    }
    50% {
        box-shadow: 2px 2px 5px red;
    }
    100% {
        box-shadow: 2px 2px 5px black;
    }
}