.sprite {
    position: absolute;
    transition: transform 150ms linear;
    z-index: 2;
    will-change: transform;
    /* transform: translate(190px, 466px); */
}

.gamemap {
    position: relative;
    align-self:center;
    justify-self: center;
}
